<legend>Dashboard</legend>
<p>my progress</p>

<div class="content">
  <div class="group">
    <div class="circular-progress60"></div>
    <div class="circular-text">Weight</div>
  </div>
      
  <div class="group">
    <div class="circular-progress85"></div>
    <div class="circular-text">Body Fat</div>
  </div>
  
  <div class="group">
    <div class="circular-progress100"></div>
    <div class="circular-text">Height</div>
  </div>
</div>
