<script src="/assets/search_exercises.js"></script>
<script src="/assets/quick_log.js"></script>

  <p>
    <b>Logging:</b><br />
    
    Here will be the history of completed exercises/workouts<br />
    <div class="container">
    <!-- task cards -->
    <div class="row" id="task_card_list">
      
    </div>
    <% if @exercises.empty? %>
        <b><%= "No exercises have been created yet." %></b>
        <%= form_tag create_exercise_path, :method => :get do %>
          <%= submit_tag 'Click here to create an exercise' %>
        <% end %>
    <% else %>
      <button id="add">Log a new exercise</button>
    <% end %>
  </p>
  
  <!-- hidden popup form when user adds a new exercise to their workout -->
  <div id="dialog-form" title="Quick Log">
      <form>
        <fieldset>
          <div class="exercise-search">
            <label for="exercise-search-txt">
              Exercise
            </label>
            <input name="exercise-search-txt" type="text" id="exercise-search-txt">
            <div class="results" id="exercise-search-results">
              
            </div>
          </div>
          
          <div id="exercise-category-data">
          
          </div>
          
        </fieldset>
      </form>
    </div>
</div>
