<div class="container-fluid" style="margin-top: 3em;">
  <div id="header">
    <a class="btn btn-primary" href="/dashboard">Home Page</a>
  </div>

  <div id="footer" class="span-24">
    <p>Project by Team Girl Scout Cookies</p>
  </div>
</div>