<script src="/assets/search_exercises.js"></script>
<script src="/assets/create_workout.js"></script>

<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Add Exercise">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="exercise-search-txt">
          Exercise
        </label>
        <input name="exercise-search-txt" type="text" id="exercise-search-txt">
        <div class="results" id="exercise-search-results">
          
        </div>
      </div>
      
      <div id="exercise-category-data">
      
      </div>
      
    </fieldset>
  </form>
</div>

<div class="container">
  <!-- header bar -->
  <div class="row" id="header">
    Create Workout
  </div>
  
  <!-- workout name -->
  <div class="row">
    <h1>Workout Name:</h1>
  </div>
  
  <!-- task cards -->
  <div class="row" id="task_card_list">
    
  </div>
  
  <!-- add/create buttons -->
  <div class="row">
    <button id="add">add</button>
    <%= form_tag create_exercise_path, :method => :get do %>
      <%= submit_tag 'Create Exercise' %>
    <% end %>
  </div>
  
  <!-- finish button -->
  <div class="row">
    <button id="finish">Finish</button>
  </div>
</div>

<%= render :template => 'homepage/template' %>

