<script src="/assets/search_exercises.js"></script>
<script src="/assets/create_workout.js"></script>

<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Add Exercise">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="exercise-search-txt">
          Exercise
        </label>
        <input name="exercise-search-txt" type="text" id="exercise-search-txt">
        <div class="results" id="exercise-search-results">
          
        </div>
      </div>
      
      <div id="exercise-category-data">
      
      </div>
      
    </fieldset>
  </form>
</div>

<div class="container">
  <!-- header bar -->
  <div class="row" id="header">
    Create Workout
  </div>
  
  <!-- workout name -->
  <div class="row">
    Workout Name: 
    <span>
      <span class="show_form">
        <span class="workout_name_info">Default Name</span>
        <button type="button" class="btn btn-info btn-sm" id="workout_name_edit_button">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </span>
      <span class="edit_form" hidden>
        <input name="workout_name_edit" type="text" class="workout_name_edit" value="Default Name">
        <button type="button" class="btn btn-info btn-sm" id="workout_name_done_button">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </span>
  </div>
  
  <!-- task cards -->
  <div class="row" id="task_card_list">
    
  </div>
  
  <!-- add/create buttons -->
  <div class="row">
    <button id="add">add</button>
    <%= form_tag create_exercise_path, :method => :get do %>
      <%= submit_tag 'Create Exercise' %>
    <% end %>
  </div>
  
  <!-- finish button -->
  <div class="row">
    <button id="finish_creating_workout_button">Finish</button>
  </div>
</div>

<%= render :template => 'homepage/template' %>

