<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Add Exercise">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="exercise-search-txt">
          Exercise
        </label>
        <input name="exercise-search-txt" type="text" id="exercise-search-txt">
        <div class="results" id="exercise-search-results">
          
        </div>
      </div>
      
      <div id="exercise-category-data">
      
      </div>
      
    </fieldset>
  </form>
</div>

<!-- the good stuff -->
<fieldset>
  
  <div id="header">
    <legend>Create Workout:</legend>
  </div>
  
  <div class="row">
    
    <div class="form-group">
      <label>Workout Name:</label>
      <span>
        <span class="show_form">
          <span class="workout_name_info">Default Name</span>
          <button type="button" class="btn btn-info btn-sm" id="workout_name_edit_button">
              <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </span>
        <span class="edit_form" hidden>
          <input name="workout_name_edit" type="text" class="workout_name_edit" value="Default Name">
          <button type="button" class="btn btn-info btn-sm" id="workout_name_done_button">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </span>
      </span>
    </div>
    
    <!-- task cards -->
    <div class="form-group" id="task_card_list">
      
    </div>
    
    <div class="form-group">
      <div class="form-group row" style="margin-left: auto; margin-right: auto;">
        <button class="btn btn-primary" id="add">Add Exercise</button>
      </div>
    </div>
    
    <div class="form-group">
      <%= form_tag create_exercise_path, :method => :get do %>
        <input class="btn btn-primary" type="submit" name="commit" value="Create New Exercise">
      <% end %>
    </div>
    
    <div class="form-group">
      <div class="form-group row" style="margin-left: auto; margin-right: auto;">
        <a class="btn btn-primary" id="finish_creating_workout_button">Finish</a>
      </div>
    </div>
    
    <div class="form-group row" style="margin-left: auto; margin-right: auto;">
      <a class="btn btn-primary" href="/view_exercises">View All Exercises</a>
    </div>
    
    <div class="form-group row" style="margin-left: auto; margin-right: auto;">
      <a class="btn btn-primary" href="/my_workouts">Return to My Workouts</a>
    </div>
    
  </div>
  
</fieldset>
