<p>
  Create exercise:
  <span class="workout"><%= @db.measurements %></span>
</p>

<!-- Name box --!>

<!-- Category buttons --!>


<!-- Optional --!>
<!-- Description --!>
<!-- Muscle Group --!>
<!-- Picture --!>

<%= render :template => 'homepage/template' %>
