<p>
  Create Workout:
  <span class="workout"><%= @db.measurements %></span>
</p>

<%= form_tag create_exercise_path, :method => :get do %>
  <%= submit_tag 'Create Exercise' %>
<% end %>

<!-- Search box section --!>


<!-- My Workout List section --!>


<!-- Create Exercise button section --!>

<%= render :template => 'homepage/template' %>
