<p>
  My Workout:
  <span class="workout"><%= @db.measurements %></span>
</p>

<!-- Planned Workouts section --!>


<!-- Saved Workouts section --!>


<!-- Instructor Workouts section --!>


<!-- Create Workout button section --!>

<%= render :template => 'homepage/template' %>
