<p>
  My Workouts:
</p>


<!-- Planned Workouts section -->


<!-- Saved Workouts section -->
<div class="row" id="saved-workouts">
  
</div>

<!-- Instructor Workouts section -->


<!-- Create Workout button section -->
<%= form_tag create_workout_path, :method => :get do %>
  <%= submit_tag 'Create New Workout' %>
<% end %>

<%= render :template => 'homepage/template' %>
