


<head>
<style>
table {
  border-collapse: collapse;
  width : 50%;
}

table, td, th {
  border: 1px solid black;
  align: "middle"
}
<meta name="viewport" , initial-scale=1">
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: 25px solid black;
}

</style>
</head>

<div class = "admin">
    <p>
      Admin Dashboard:
  
    </p>
          
              <table >
                  <tr align = "middle">
                    <th colspan = "2">User</th>
                    <th colspan = "2">Roles</th>
                 
                  </tr>
                  <tr align = "middle">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Admin or Trainer</th>
                    
                  </tr>
                  
                  <%User.all.each  do |e,i| %>
                  <div <% 'id=last_row' if i == (User.all.size - 1) %> >
                    <form  id = "TrainerOrAdmin">
                  <tr align = "middle">
                    <td ><%= e.id%> </td>
                    <td>  <%= e.name%></td>
                    <td>
                      <div><input type="radio" name="text" value="Trainer"> Trainer</div>
                      <div><input type="radio" name="text" value="Admin"> Admin</div>
                      </td>
                     </form>
                  <% end %>
                  
                  </tr>
                </table>
              <button type="submit" form="TrainerOrAdmin" value="Submit">Submit</button>

<form action="submit" id = "AddClients">
    <p>
      Trainers:
    </p>
     <div>
       <table>
         <tr>
           <% @trainers.each_with_index do |t,i| %>
           <td ><%= t.name%> </td>
           <th><button id="myBtn">add clients</button></th>
           <%end%>
         </tr>
       </table>
      </div>
  </form>
  
<div id="myModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2>List of all clients:</h2>
      <% current_user.clients.each do |e,i| %>
      <div <% 'id=last_row' if i == (current_user.clients.size - 1) %> >
      <p><%= e.name %></p>
      
  </div>
</div>

</div>
<%end%>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

