<script src="/assets/my_clients.js"></script>
<div class="container-fluid">
        
    <legend>My Clients</legend>
    
    <div>
        <% if @clients.empty? %>
            <%= "No clients have been paired with you yet." %><br>
            <button type="button" class "btn btn-info btn-sm" id="effective_id-unset">Log out of client view</button><br>
        <% else %>
            <% @clients.each do |client| %>
                <div class="client_card">
                    <span> <%= client.name %> </span>
                    <button type="button" class="btn btn-info btn-sm effective-id-set" id="<%= client.id %>">Log in as <%= client.name %></button>
                </div> 
            <% end %>
        <% end %>
        <br>
        <!--<button type="button" class "btn btn-info btn-sm" id="css-toggle">Click here to change CSS!</button>-->
    </div>
  
</div>