<div class="splash_screen"></div>

<div class="container" style="height: 100%; width: 100%; overflow-y: hidden; position: absolute;">
    
    <div class="splash_title">My Exercise Tracker</div>
    
    <div class="login splash_subtitle">
      <% if current_effective_user %>
          Signed in as <strong><%= current_effective_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
          <a id="sign_in" href="/auth/google_oauth2">Sign in with Google</a>
      <% end %>
      
      
    </div>
  
</div>