<div class="splash_screen"></div>

<div class="container" style="height: 100%; width: 100%; overflow-y: hidden; position: absolute;">
    
    <div class="title" style="font-size: 60px; margin-left: 40%; margin-top: 21%; text-align: center; font-family: 'Barcelony', Verdana, Tahoma;">My Exercise Tracker</div>
    
    <div class="login splash_subtitle" style="
      position: relative
      padding: 1rem; 
      width: 30%; 
      text-align: center; 
      margin-left: 55%;
      border: 4px solid white; 
      text-decoration: none; 
      color: white; 
      font-size: 30px; 
      font-family: 'BebasNeue', Verdana, Tahoma;">
      <% if current_effective_user %>
          Signed in as <strong><%= current_effective_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
          <a id="sign_in" href="/auth/google_oauth2">Sign in with Google</a>
      <% end %>
      
      
    </div>
  
</div>