<html>
<body>

<div class="container">
  <fieldset>
    
    <legend>Enter Current Measurements:</legend>
  
    <div class="row">
      <%= form_tag process_enter_new_measurements_path, :method => 'post' do %>
      
      <div class="form-group form-inline"> 
        <label for="weight">Weight:</label>
        <input class="form-control" type="text" name="weight" id="weight" value="" size="6" autocomplete="off" placeholder="Example: 150">
        <select class="form-control">
          <option value="lbs.">lbs</option>
        </select>
      </div>
          
      <div class="form-group form-inline">
            
        <label for="body_fat">Body Fat:</label>
        <input class="form-control" placeholder="Example: 23" type="text" name="body_fat" id="body_fat" value="" size="6" autocomplete="off">
        <select class="form-control">
          <option value="%">%</option>
        </select>
      </div>
          
      <div class="form-group form-inline">
        <label for="height">Height:</label>
        <input class="form-control" placeholder="Example: 5.5" type="text" name="height" id="height" value="" size="6" autocomplete="off">
        <select class="form-control">
          <option value="ft">ft</option>
        </select>
      </div>
          
      <input class="btn btn-primary" type="submit" name="commit" value="Submit Record">
      
    </div>
  </fieldset>

  <a class="btn btn-primary" href="/my_measurements">Return to My Measurements</a>
</div>

<%= render :template => 'homepage/template' %>
<% end %>
</body>
</html>