/* @override http://localhost:9292/default.css */
body {
	
    color: #034f84;
    width: 100%;
}

html, body, {
	font-family: Helvetica, Arial, Geneva, sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

span.word {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #0432ff;
	font-weight: bold;
	font-size: larger;
	padding-left: 1em;
}

form {
	/* border: 1px solid grey; */
	margin: 65px;
    margin-top: 1em;
}

br {
   display: block;
   margin: 20px 0;
   line-height:22px;
}