/* @override http://localhost:9292/default.css */
body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	padding: 2em;
    border: 20px solid rgba(18, 211, 237, 1);
    color: #034f84;
    margin: 100px;
    
}


span.word {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #0432ff;
	font-weight: bold;
	font-size: larger;
	padding-left: 1em;
}

form {
	/* border: 1px solid grey; */
	margin: 65px;
  margin-top: 1em;
}

br {
   display: block;
   margin: 20px 0;
   line-height:22px;
}

