/** ============================
 ** variable
 ** ============================ */
$circular-margin: 10px;
$break-small: 320px;
$break-large: 1100px;

/** ============================
 ** function circular-progress
 ** ============================ */
@function circular-progress($maxPercent, $percent, $color-bar, $color-back) {
  $increment: 360 / $maxPercent;
  $half: round($maxPercent / 2);
  $background-image: '';
  @if $percent < $half {
    $nextdeg: 90deg + ($increment * $percent);
    $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent),
 linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

  }
  @else {
    $nextdeg: -90deg + ($increment * ($percent - $half));
    $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent),
 linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

  }
  @return unquote($background-image);
}


/** ============================
 ** Mixins Circular Progress
 ** ============================ */
@mixin circular-progress($percent-num, $color1:"#03A9F4") {
  //circular-progress function
  //circular-progress($maxPercent, $percent, $color-bar, $color-back);
  // background: circular-progress(100, $percent-num, #03A9F4, #E0E0E0);
  background: circular-progress(100, $percent-num, $color1, #E0E0E0);
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 200px;
  margin: 2em auto;
  position: relative;
  min-width: 200px;
  margin: $circular-margin;
  transition: all .3s linear;
  &::before {
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(black, .54);
    content: '#{$percent-num}%';
    font-size: 72px;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(.87);
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
  }
}

body {
  background-color: #EEE;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  .title {
    color: #5d5d5d;
    text-align: center;
    font-weight: normal;
  }
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @media screen and (min-width: $break-large) {
    justify-content: space-around;
  }
}

.group {
  margin: 10px;
  
  .circular-progress60 {
    @include circular-progress(10, #FF70A6);
  }
  .circular-progress73 {
    @include circular-progress(73, #FF9770);
  }
  .circular-progress75 {
    @include circular-progress(75, #FF9770);
  }
  .circular-progress85 {
    @include circular-progress(85, #70D6FF);
  }
  .circular-progress90 {
    @include circular-progress(90, #70D6FF);
  }
  .circular-progress100 {
    @include circular-progress(100, #C8E9A0);
  }
  
  .circular-text {
    text-align: center;
    color: rgba(black, .6);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.twitter {
  background-color: #FAFAFA;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: rgba(black, .6);
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  width: 140px;
  border-radius: 2px;
  margin: 1em auto;
  transition: box-shadow .3s linear;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

#footer {
  margin-top: 30px;
}

@keyframes turning_cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// sidebar
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  //-webkit-transition: all 0.5s ease;
  //-moz-transition: all 0.5s ease;
  //-o-transition: all 0.5s ease;
  //transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  //-webkit-transition: all 0.5s ease;
  //-moz-transition: all 0.5s ease;
  //-o-transition: all 0.5s ease;
  //transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding: 0px;
  margin: 0px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: right;
  padding-right: 1em;
}

.sidebar-nav li h1 {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  width: 250px;
  margin-bottom: 50px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:1304px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #sidebar-nav li h1 {
    width: 250px;
  }
}