<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <div id="flash_error">
        <% if flash[:error] %>
          <%= flash[:error] %>
        <% end %>
      </div>
    </div>
    
    <div class="container">
      <div id="header" class="span-24">
        <h>Exercise Tracker</h>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
