<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="toggled">
  
      <ul class="sidebar-nav">
          <li class="sidebar-brand" style="padding-bottom: 3em;">
              <h1>My Exercise Tracker</h1>
          </li>
          <li>
            <form style="padding: 0px; margin: 0px; margin-top: 40px;" action="/my_goals" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <input class="btn-primary" style="float: left; width: 250px;" type="submit" name="commit" value="My Goals">
            </form>
          </li>
          <li>
            <form style="margin: 0px; margin-top: 20px; width: 250px;"  action="/my_measurements" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <input class="btn-primary" style="float: left; width: 250px;" type="submit" name="commit" value="My Measurements">
            </form>
          </li>
          <li>
              <form style="margin: 0px; margin-top: 20px; width: 250px;"  action="/my_workouts" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                <input class="btn-primary" style="float: left; width: 250px;" type="submit" type="submit" name="commit" value="My Workouts">
              </form>
          </li>
          <li>
            <form class="hidden" style="margin: 0px; margin-top: 20px; margin: 0px;" action="/my_clients" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                <input class="btn-primary" style="float: left; width: 250px;" type="submit" type="submit" name="commit" value="My Clients">
              </form>
          </li>
          <li>
            <form style="margin: 0px; margin-top: 20px; margin: 0px;" action="/quick_log" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <input class="btn-primary" style="float: left; width: 250px;" type="submit" type="submit" name="commit" value="Quick Log">
            </form>
          </li>
          <li class="sidebar-logout">
            <div class="login">
              <% if current_user %>
                  Signed in as <strong><%= current_user.name %></strong>!
                  <a id="sign_out" href="/signout">Sign out</a>
              <% else %>
                  <a id="sign_in" href="/auth/google_oath2">Sign in with Google</a>
              <% end %>
            </div>
          </li>
          
      </ul>
      
      
    </div>
  <!-- /#sidebar-wrapper -->